<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tableData</key>
	<array>
		<string>Egg Benedict</string>
		<string>Mushroom Risotto</string>
	</array>
	<key>thumbnails</key>
	<array>
		<string>mushroom_risotto.jpg</string>
		<string>egg_benedict.jpg</string>
	</array>
</dict>
</plist>
